<div class="row">
  <% @events.each do |event| %>
    <div class="well">
      <div class="span4">
        <div class="hero-unit">
          <h1>Event: <%= event.identifier %></h1>
          <p>
            <%= link_to 'Buy ticket', new_event_purchase_path(event), class: 'btn btn-primary btn-large' %>
          </p>
          <span>
            Total purchases: 
            <%= link_to event.purchases.count, event_purchases_path(event), class: 'btn btn-info' %>
          </span>
        </div>
      </div>  
    </div>  
  <% end %>
</div>